// General
$black: #000000;
$white: #ffffff;
$dirtyWhite: #b9b9b9;
$lightTan: #887e62;
$tan: #73684b;
$green: #374e2b;
$darkGreen: #263c1b;
$grey: #282828;
$lightGrey: #eeeeef;

$font: 'Lato', sans-serif;
$primaryFontColor: $black;
$secondaryFontColor: $white;

$backgroundColor: $white;

// Header
$headerHeight: 60px;
$headerTextColor: $secondaryFontColor;
$headerBackgroundColor: $white;
$logoBackground: $black;
$logoColor: $white;
$userButtonBackground: $black;
$userButtonColor: $white;
$loginButtonBackground: #1d3f93;
$logoutButtonBackground: #b83838;

// Brews
$containerBackgroundColor: darken($white, 4%);
$containerElementBackgroundColor: darken($white, 2%);
$brewsHeaderTextColor: $primaryFontColor;
$brewsUpdatedTextColor: $primaryFontColor;
$brewsTextColor: $primaryFontColor;
$breweryHeaderHover: $lightGrey;

// Filter
$filterBackgroundColor: darken($backgroundColor, 5%);
$filterBorderInactiveColor: darken($backgroundColor, 5%);
$filterBorderActiveColor: darken($backgroundColor, 8%);
$filterInputTextColor: darken($backgroundColor, 20%);
$filterPlaceholderTextColor: darken($backgroundColor, 15%);
$filterLabelTextColor: darken($backgroundColor, 4%);
$noResultTextColor: $primaryFontColor;
$noResultBackgroundColor: $containerBackgroundColor;

// User
$userNameBackgroundColor: $tan;
$userNameTextColor: $black;

///////////////////////
// General
///////////////////////

body {
	margin: 0;
	background-color: $backgroundColor;
}

#pageTitle {
	margin: 0;
	padding: 70px 0 40px 0;
	font: 48px $font;
	font-weight: 900;
	letter-spacing: 2px;
	text-align: center;

	@media screen and (max-width : 640px) {
		font-size: 36px;
	}
}

.noResults {
	margin: 10px;
	padding: 30px 20px;
	font: 16px $font;
	color: $noResultTextColor;
	text-align: center;
	border-radius: 10px;
}

a {
	text-decoration: none;
}

///////////////////////
// Pages
///////////////////////

#currentBrewsMain {
	width: 100%;
	margin: $headerHeight 0 0 0;

	&-breweriesClickableNote {
		margin: 30px 0 0 0;
		text-align: center;
		font: 18px $font;
		color: darken($backgroundColor, 10%);

		@media screen and (max-width : 640px) {
			font-size: 12px;
		}
	}
}

#userMain {
	margin: $headerHeight auto 0 auto;
}

#breweryMain {
	margin: $headerHeight auto 0 auto;
}


///////////////////////
// Containers
///////////////////////

#genericBrewsContainer {
	margin: 0;
	padding: 10px;
	background-color: $backgroundColor;
	text-align: center;

	#genericBrewsContainer-columns {
		width: 900px;
		margin: 0 auto;

		@media screen and (max-width : 940px) {
			width: 550px;
		}

		@media screen and (max-width : 640px) {
			width: 280px;
		}
	}

	.genericBrewsContainer-column {
		width: 280px;
		margin: 10px;
		display: inline-block;
		vertical-align: top;

		@media screen and (max-width : 940px) {
			margin: 0px;
			display: block;
			width: 550px;
		}

		@media screen and (max-width : 640px) {
			width: 280px;
		}
	}
}

#userDetailContainer {
	padding: 20px;
	font: 14px $font;
	text-align: center;

	&-image {
		height: 150px;
		width: 150px;
		margin: 0;
		border-radius: 100%;
		border-style: solid;
		border-color: #FFFFFF;
		border-width: 4px;
	}

	&-name {
		border-radius: 20px;
		padding: 10px 25px;
		font-weight: 400;
		margin: 10px 0 0 0;
		display: inline-block;
		background-color: $userButtonBackground;
		color: $userButtonColor;
		letter-spacing: 1px;
	}
}

#breweryDetailContainer {
	padding: 20px;
	font: 14px $font;
	text-align: center;

	&-text {
		padding: 10px;
		color: $primaryFontColor;

		@media screen and (max-width : 640px) {
			h1 {
				font-size: 36px;
			}

			h2 {
				font-size: 18px;
			}
		}
	}

	&-image {
		height: 150px;
		width: 150px;
		margin: 0;
		border-radius: 100%;
		border-style: solid;
		border-color: #FFFFFF;
		border-width: 4px;
	}

	&-name {
		border-radius: 20px;
		padding: 0px;
		margin: 10px 0 0 0;
		font: 48px $font;
		font-weight: 900;
		letter-spacing: 2px;
		text-align: center;
	}

	&-address {
		margin: 0;
	}

	a {
		text-decoration: none;
		color: $primaryFontColor;
	}

	a:visited {
		color: $primaryFontColor;
	}

	i {
		font-size: 24px;
		padding: 10px;

		&:hover {
			color: lighten($primaryFontColor, 20%);
		}
	}
}

#currentBrewsFilter {
	background-color: $backgroundColor;
	text-align: center;
	padding-top: 40px;

	@media screen and (max-width : 640px) {
		margin-left: auto;
		margin-right: auto;
		width: 280px;

		.currentBrewsFilter-inputNotLoggedIn {
			width: 240px;
		}
	}

	p {
		height: 20px;
		width: 80px;
		margin: 10px;
		display: inline-block;
		padding: 15px 20px;
		font: 16px $font;
		color: $filterLabelTextColor;
		letter-spacing: 2px;
	}

	input {
		height: 20px;
		margin: 10px;
		padding: 25px 20px;
		font: 16px $font;
		border-radius: 40px;
		background-color: $filterBackgroundColor;
		border-style: none;
		border: 2px solid $filterBorderInactiveColor;
		text-transform: uppercase;
		color: $filterInputTextColor;

		@media screen and (max-width : 640px) {
			font-size: 12px;
		}
	}

	input::placeholder {
		color: $filterPlaceholderTextColor;
	}

	input:hover {
		border: 2px solid $filterBorderActiveColor;
	}

	input:focus {
		outline: none;
		border: 2px solid $filterBorderActiveColor;
	}

	button {
		margin: 10px;
		padding: 15px 18px;
		font: 16px $font;
		background-color: $filterBackgroundColor;
		border: 2px solid $filterBorderInactiveColor;
		color: $filterInputTextColor;
		cursor: pointer;
		border-radius: 100%;
	}

	button:hover {
		border: 2px solid $filterBorderActiveColor;
	}

	button:focus {
		outline: 0;
		border: 2px solid $filterBorderActiveColor;
	}

	&-favoritesOnlyButton {
		display: inline-block;
	}

	&-favoritesOnlyButtonMobile {
		display: none;
	}

	@media screen and (max-width : 640px) {
		&-favoritesOnlyButton {
			display: none;
		}

		&-favoritesOnlyButtonMobile {
			display: inline-block;
		}
	}
}

#breweryBrewsContainer {
	text-align: center;

	&-filters {
		margin-top: 20px;

		@media screen and (max-width : 640px) {
			margin-bottom: 30px;
		}
	}

	.chosenFilter {
		font-weight: 700 !important;
	}

	.breweryBrewsContainer-filterButton {
		width: 200px;
		font: 16px $font;
		margin: 5px;
		border: none;
		cursor: pointer;
		background-color: $backgroundColor;

		&:active {
			outline: none;
			border: none;
		}

		&:focus {
			outline: none;
			border: none;
		}

		@media screen and (max-width : 640px) {
			margin-left: auto;
			margin-right: auto;
			padding: 5px;
			text-align: center;
			display: block;
		}
	}
}

///////////////////////
// Components
///////////////////////

#header {
	height: 60px;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	color: $headerTextColor;
	font: 14px $font;
	text-align: center;
	background: $headerBackgroundColor;

	a {
		text-decoration: none;
		color: $headerTextColor;
	}

	a:visited {
		color: $headerTextColor;
	}

	h1 {
		margin: 0;
		padding: 20px;

		font: 14px $font;
		letter-spacing: 1px;
	}

	&-logoLink {
		position: absolute;
		top: 0;
		left: 0;
		padding: 10px;
	}

	&-logo {
		height: $headerHeight - 20px;
		text-align: center;
		border-radius: 10px;
		background-color: $logoBackground;
		color: $logoColor;

		h1 {
			padding: 10px;
		}

		&:hover {
			background-color: lighten($logoBackground, 20%);
		}
	}

	&-loginButton {
		padding: 10px 15px;
		height: $headerHeight - 40px;
		margin: 10px;
		text-align: center;
		border-radius: 10px;
		cursor: pointer;
		background-color: $loginButtonBackground;
		position: absolute;
		top: 0;
		right: 0;

		&:hover {
			background-color: lighten($loginButtonBackground, 10%);
		}

		p {
			margin: 0;
			display: inline-block;
		}

		i {
			padding-left: 10px;
			display: inline-block;
		}
	}

	&-loggedIn {
		position: absolute;
		top: 0;
		right: 0;

		p {
			margin: 0;
			display: inline-block;
		}

		#header-userName {
			padding: 10px 15px;
			height: $headerHeight - 40px;
			margin: 10px 60px 10px 0;
			text-align: center;
			border-radius: 10px;
			cursor: pointer;
			display: inline-block;
			background-color: $userButtonBackground;

			&:hover {
				background-color: lighten($userButtonBackground, 20%);
			}
		}

		#header-logoutButtonContainer {
			display: inline-block;
			position: absolute;
			top: 0;
			right: 0;

			#header-logoutButton {
				padding: 10px 15px;
				height: $headerHeight - 40px;
				margin: 10px;
				text-align: center;
				border-radius: 10px;
				cursor: pointer;
				background-color: $logoutButtonBackground;

				&:hover {
					background-color: lighten($logoutButtonBackground, 5%);
				}

				i {
					margin-top: 3px;
				}
			}
		}
	}
}

.genericBrewsList {
	break-inside: avoid;
  box-sizing: border-box;
	width: 100%;
	margin: 20px 0;
	padding: 0;
	background-color: $containerBackgroundColor;
	font: 12px $font;
	border-radius: 10px;
	color: $brewsTextColor;

	a {

	}

	&-header {
		padding: 10px 10px 0px 10px;

	}

	&-breweryDetails {
		padding: 20px 10px;
		border-radius: 10px;
		background-color: $containerElementBackgroundColor;
		transition: all 0.5s ease;
		&:hover {
			background-color: $breweryHeaderHover;
		}
	}

	&-breweryLogoLink {
		display: block;
	}

	&-breweryLogo {
		height: 50px;
		width: 50px;
		border-radius: 100%;
		border-style: solid;
		border-width: 6px;
		border-color: $containerBackgroundColor;
		vertical-align: middle;
	}

	&-breweryText {
		width: 100%;
		display: inline-block;
		text-align: center;
		vertical-align: middle;
	}

	&-breweryName {
		margin: 0;
		font: 14px $font;
		letter-spacing: 1px;
		color: $brewsHeaderTextColor;
		text-transform: uppercase;
	}

	&-lastUpdated {
		margin: 0;
		font: 10px $font;
		color: $brewsUpdatedTextColor;
	}

	&-brews {
		margin: auto;
		padding: 0 10px 10px 10px;
		text-align: center;

		@media screen and (max-width : 940px) {
			padding: 0 5px 10px 5px;
		}

		ul {
			margin: 0;
			padding: 0;
			list-style-type: none;
			text-align: left;

			@media screen and (max-width : 940px) {
				margin-top: 5px;
			}

			li {
				background-color: $containerElementBackgroundColor;
				border-radius: 10px;
				padding: 10px;
				margin-top: 10px;
				text-align: left;
				vertical-align: middle;

				@media screen and (max-width : 940px) {
					display: block;
					width: 240px;
					margin: 5px;
					display: inline-block;
					min-height: 40px;
				}

				@media screen and (max-width : 640px) {
					min-height: 0;
					width: 240px;
					display: inline-block;
				}
			}
		}
	}

	#star {
		display: inline-block;
		vertical-align: middle;
		padding: 8px;
		cursor: pointer;
	}

	&-brewText {
		width: 200px;
		display: inline-block;
		vertical-align: middle;
		padding-right: 10px;
	}

	&-brewname {
		margin: 0;
		font: 12px $font;
	}

	&-brewSubtitle {
		margin: 0;
		font: 11px $font;
		text-overflow: ellipsis;
		word-break: break-all;
		overflow:hidden;
		white-space: nowrap;

		&:hover {
			text-overflow: none;
			word-break: normal;
			overflow: auto;
			white-space: normal;
		}

		@media screen and (max-width : 640px) {
			text-overflow: inherit;
			word-break: normal;
			overflow: visible;
			white-space: normal;
		}
	}
}

.breweryBrewsList {
	&-brews {
		margin: 10px auto 100px auto;
		width: auto;
		background-color: $containerBackgroundColor;
		padding: 5px;
		width: 810px;
		border-radius: 10px;

		@media screen and (max-width : 940px) {
			width: 540;

		}

		@media screen and (max-width : 640px) {
			width: 270px;
		}

		ul {
			margin: 0;
			padding: 0;
			list-style-type: none;
			text-align: left;


			li {
				background-color: $containerElementBackgroundColor;
				border-radius: 10px;
				padding: 10px;
				width: 240px;
				margin: 5px;
				display: inline-block;
				text-align: left;
				vertical-align: middle;
				min-height: 40px;
			}
		}

		#star {
			display: inline-block;
			vertical-align: middle;
			padding: 8px;
			cursor: pointer;
			font-size: 10px;
		}
	}

	&-brewText {
		width: 200px;
		display: inline-block;
		vertical-align: middle;
		padding-right: 10px;
	}

	&-brewname {
		margin: 0;
		font: 12px $font;
	}

	&-brewSubtitle {
		margin: 0;
		font: 11px $font;
		text-overflow: ellipsis;
		word-break: break-all;
		overflow:hidden;
		white-space: nowrap;

		&:hover {
			text-overflow: none;
			word-break: normal;
			overflow: auto;
			white-space: normal;
		}
	}
}
