$font: 'Source Sans Pro', sans-serif;
$primaryFontColor: #000000;
$invertedFontColor: #ffffff;
$lightFontColor: #cdcdcd;

$headerBackgroundcolor: #ffffff;
$containerBackgroundColor: #D8D8D8;
$backgroundColor: #96875F;
$headerHeight: 60px;

///////////////////////
// General
///////////////////////

body {
	margin: 0;
	background-color: $backgroundColor;
}

///////////////////////
// Pages
///////////////////////

#currentBrewsMain {
	width: 100%;
	margin: $headerHeight 0 0 0;
}

///////////////////////
// Containers
///////////////////////

#currentBrewsContainer {
	margin: 0;
	padding: 10px;
	background-color: $backgroundColor;

	.noResults {
		margin: 10px;
		padding: 30px 20px;
		background-color: $containerBackgroundColor;
		font: 16px $font;
		color: $lightFontColor;
		text-align: center;
	}

	.currentBrewsContainer-columns {
	}

	.currentBrewsContainer-column {
		width: 33%;
		display: inline-block;
		vertical-align: top;
	}
}

#currentBrewsFilter {
	background-color: $backgroundColor;
	padding-top: 15px;
	text-align: center;

	p {
		height: 20px;
		width: 80px;
		margin: 10px;
		display: inline-block;
		padding: 15px 20px;
		font: 16px $font;
		color: $lightFontColor;
		letter-spacing: 2px;
	}

	input {
		height: 20px;
		margin: 10px;
		padding: 25px 20px;
		font: 16px $font;
		background-color: $containerBackgroundColor;
		border-style: none;
		border: 2px solid $containerBackgroundColor;
		text-transform: uppercase;
	}

	input::placeholder {
		color: $lightFontColor;
	}

	input:focus {
		outline: none;
		border: 2px solid $lightFontColor;
	}

	button {
		display: inline-block;
		height: 20px;
		width: 120px;
		margin: 10px;
		padding: 15px 20px 35px 20px;
		font: 16px $font;
		background-color: $containerBackgroundColor;
		border: 2px solid $containerBackgroundColor;
		color: $lightFontColor;
		cursor: pointer;
	}

	button:hover {
		border: 2px solid $lightFontColor;
	}

	button:focus {
		outline: 0;
		border: 2px solid $lightFontColor;
	}
}

///////////////////////
// Components
///////////////////////

#header {
	height: 60px;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background-color: $headerBackgroundcolor;
	color:$primaryFontColor;
	text-align: center;

	a {
		text-decoration: none;
		color: $primaryFontColor;
	}

	a:visited {
		color: $primaryFontColor;
	}

	h1 {
		margin: 0;
		padding: 20px;

		font: 16px $font;
		letter-spacing: 2px;
	}
}

.currentBrewsList {
	break-inside: avoid;
  box-sizing: border-box;
	width: 100%;
	margin: 0px;
	padding: 0;
	background-color: $containerBackgroundColor;
	font: 14px $font;
	border-radius: 10px;

	&-header {
		margin-top: 20px;
		text-align: center;
	}

	&-breweryLogo {
		height: 80px;
		width: 80px;
		border-radius: 100%;
	}

	&-breweryDetails {
		height: 40px;
		width: 100%;
		padding: 10px 0;

		a {
			text-decoration: none;
		}
	}

	&-breweryName {
		margin: 0;
		font: 16px $font;
		color: $primaryFontColor;
		text-transform: uppercase;
	}

	&-lastUpdated {
		margin: 0;
		font: 11px $font;
		color: $lightFontColor;
	}


	&-brews {
		margin: auto;
		padding: 10px;
		margin-bottom: 20px;
		text-align: center;

		ul {
			margin: 0;
			padding: 0;
			list-style-type: none;
			text-align: left;


			li {
				padding: 5px;
				width: 310px;
				text-align: center;
			}
		}
	}

	&-brewname {
		margin: 0;
		font: 12px $font;
	}

	&-brewSubtitle {
		margin: 0;
		font: 10px $font;
		font-weight: 300;
	}
}
